pkgbase = libfprint-ft9366
	pkgdesc = Library for fingerprint readers, with an open driver for FocalTech FT9366 (2808:a658)
	pkgver = 1.94.100
	pkgrel = 1
	url = https://fprint.freedesktop.org/
	arch = x86_64
	groups = fprint
	license = LGPL-2.1-or-later
	checkdepends = cairo
	checkdepends = umockdev
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = gtk-doc
	makedepends = meson
	makedepends = python-cairo
	makedepends = python-gobject
	makedepends = systemd
	depends = libgcc
	depends = glib2
	depends = glibc
	depends = libgudev
	depends = libgusb
	depends = openssl
	depends = pixman
	provides = libfprint=1.94.100
	provides = libfprint-2.so
	conflicts = libfprint
	source = git+https://gitlab.freedesktop.org/libfprint/libfprint.git#tag=v1.94.100
	source = ft9366-driver.patch
	b2sums = 56cbe62a6d4b98d1de90f45bae8de605418802d1b4d8d5dc55a8557a65045b115df51daf8385decdebd8aea79c86103467d5a327cbd461030d450f0e15466d08
	b2sums = da43fc1e8d65757cf2d35424318180d2b9bc578d913ed726900ee02b94462074daf3378334d4093773ff0107636e7952ff788db214d580cc7807da309d6e572f

pkgname = libfprint-ft9366
